<h1><%= @post.title %></h1>
<h2><%= @post.user.nickname %></h2>

<%# 如果是擁有者，才可以編輯文章。 %>
<%= link_to '編輯', edit_post_path(@post) if @post.owned_by?(current_user) %>

<article>
  <%= simple_format(@post.content) %>
</article>

<%= link_to '回上頁', :back %>
