<!DOCTYPE html>
<html>
  <head>
    <title>Zcard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <!-- 加了條件後，變成如果有才渲染。這樣就不會有空的p的問題。 
        <p><%= flash["notice"] %></p> -->
    <%= render "shared/flash" if flash[
    "notice"]%>
    <main class="main-section">
      <%= yield %>
    </main>
    
  </body>
</html>
